.tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tables-container > table {
  min-width: 300px;
  flex: 1 1;
  border: 1px solid black;
}

.tables-container table caption {
  font-weight: bold;
  font-size: 115%;
  line-height: 115%;
}

.tables-container table th {
  background-color: lightgreen;
}

.tables-container table tbody tr:nth-child(even) {
  background-color: lightcyan;
}